<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits Please Chat</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body class ="bg-[#F2EFE9]">
    <header>
        <nav class="fixed w-full bg-[#252627] border-gray-200 px-2 sm:px-4 py-2.5">
            <div class="container flex flex-wrap items-center justify-between mx-auto">
                <a href="/" class="flex items-center">
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-[#F2EFE9]" id="press-start">
                        Bits Please Chat
                    </span>
                </a>
                <div class="flex md:order-2">
                    {{#if loggedIn}}
                        <button id="logout-btn" type="button"
                            class="bg-[#904E55] text-[#F2EFE9] hover:bg-[#564E58] focus:ring-4 focus:outline-none focus:ring-[#F2EFE9] font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
                            Logout
                        </button>
                    {{else}}
                    <a href="/login">
                        <button type="button"
                            class="bg-[#904E55] text-[#F2EFE9] hover:bg-[#564E58] focus:ring-4 focus:outline-none focus:ring-[#F2EFE9] font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
                            Login
                        </button>
                    </a>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>

    <main class="flex justify-center items-center h-screen">
        {{{body}}}
    </main>
    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>