<div
  class="flex flex-col justify-end block w-8/12 h-4/6 p-6 bg-[#252627] border border-gray-200 rounded-lg shadow-md"
>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
  > xx </h5>
  <div id="chat-messages" class="flex flex-col overflow-auto">

    <p class="font-normal text-gray-700 dark:text-gray-400"> xx </p>
    <p class="font-normal text-gray-700 dark:text-gray-400"> xx </p>
    <p class="font-normal text-gray-700 dark:text-gray-400"> xx </p>
    <p class="font-normal text-gray-700 dark:text-gray-400"> xx </p>
    <p class="font-normal text-gray-700 dark:text-gray-400"> xx </p>

  </div>

  <div>
    <label for="chat" class="sr-only">Your message</label>
    <div class="flex items-center justify-center px-3 py-2 rounded-lg bg-[#252627] space-x-16">
      <button type="button" class="inline-flex justify-center bg-[#904E55] text-[#F2EFE9] hover:bg-[#F2EFE9] focus:ring-4 focus:outline-none focus:ring-[#F2EFE9] font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
        <img src="/images/hello.png" class="w-10">
      </button>
      <button type="button" class="inline-flex justify-center bg-[#904E55] text-[#F2EFE9] hover:bg-[#F2EFE9] focus:ring-4 focus:outline-none focus:ring-[#F2EFE9] font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
        <img src="/images/ok.png" class="w-10">
      </button>
      <button type="submit" class="inline-flex justify-center bg-[#904E55] text-[#F2EFE9] hover:bg-[#F2EFE9] focus:ring-4 focus:outline-none focus:ring-[#F2EFE9] font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
        <img src="/images/no.png" class="w-10">
      </button>
      <button type="submit" class="inline-flex justify-center bg-[#904E55] text-[#F2EFE9] hover:bg-[#F2EFE9] focus:ring-4 focus:outline-none focus:ring-[#F2EFE9] font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
        <img src="/images/thank_you_please.png" class="w-10">
      </button>
    </div>
  </div>
</div>